:root
{
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);
    --white: hsl(0, 0%, 100%);
    --off-white: hsl(0, 0%, 94%);
    --light-grey: hsl(0, 0%, 86%);
    --smokey-grey: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
}

body
{
    background-color: var(--off-white);
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}


main
{
    width: 370px;
}

/* card or form */

form
{
    margin-bottom: 65px;
    display: flex;
}

label
{
    color: var(--smokey-grey);
    font-weight: 400;
    letter-spacing: 3px;
}



input
{
    
    /* height: 30px; */
    width: 66px;
    height: 35px;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    padding: 10% 15%;
    border-color: var(--light-grey);
    border-style:solid;
    border-radius: 5px;
    border-width: 1px;
    outline: none;
    
}

input[type=number]:focus
{
    border-color: var(--purple);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


/* Button with horizontal line */

hr
{
    margin: 0;
    width: 100%;
}

img
{
    width: 40%;
}


/* Calculated numbers */

p
{
    font-weight: 800;
    font-style: italic;
    font-size: 3.1rem;
    margin: 0;
    line-height: 110%;
    
}

span
{
    color: var(--purple);
}


/* card or form */

.card
{
    max-width: 370px;
    background-color: var(--white);
    padding: 13% 6%;
    border-radius: 20px 20px 100px 20px;
    margin: 80px 10px 0px 10px;
}

.label-red
{
    color: var(--light-red);
}

.input-red
{
    border-color: var(--light-red);
}

.month-div
{
    margin: 0 40px;
}

.message
{
    margin-top: 10px;
    font-size: 0.76rem;
    color: var(--light-red);
    font-weight: 400;
}

/* Button with horizontal line */

.line-button-div
{
    display: flex;
    align-items: center;
    position: relative;
}

.icon-arrow-background
{
    background-color: var(--purple);
    display: inline-block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.icon-arrow-background:hover
{
    background-color: var(--off-black);
}

/* Calculated numbers */

.numbers
{
    margin-top: 65px;
    /* margin-bottom: 30px; */
}


@media only screen and (min-width: 840px) 
{
    main
    {
        width: 780px;
    }

    input
    {
        width: 115px;
        height: 45px;
        font-size: 32px;
        margin-top: 8px;
    }

    img
    {
        width: 45%;
    }

    p
    {
        font-weight: 800;
        font-style: italic;
        font-size: 5.7rem;
        margin: 0;
        line-height: 110%;
        
    }

    .month-div
    {
        margin: 0 70px;
    }

    .card
    {
        max-width: 780px;
        margin-left: 0;
        margin-right: 0;
        margin-top: 150px;
        padding-right: 65px;
        padding-top: 7%;
        padding-bottom: 6%;
        border-bottom-right-radius: 200px;
    }

    .icon-arrow-background
    {
        width: 92px;
        height: 92px;
        left: 95%;
        /* transform: translate(-50%, -50%);  */
    }
}



/* Attribution */

.attribution { font-size: 11px; text-align: center; margin-top: 200px; }
.attribution a { color: hsl(228, 45%, 44%); }